.wish{
    height:100vh;
    width: 100%;
    /* background-color: rgb(228,236,255); */
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}
.wishback{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid grey;
    /* background-color: white; */
}
.backIcon{
    font-size: 40px;
    margin-left:10px;
    color: black;
    font-weight: 500;
}
.navName{
margin-bottom: 5px;
margin-left: 10px;
font-size: 22px;
color: black;
font-weight: 500;
text-transform:capitalize;

}
.paymentInfo{
    position: absolute;
    top: 80px;
    padding: 15px;
    display: grid;
    row-gap: 10px;
}
.ram{
    width: 100%;
    padding:6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
}
.ramu{
    width: 100%;
    padding:6px;
    outline: none;
    border-radius: 3px;
    border:none;
    background-color: blue;
    color: white;
}

.billForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.input1{
    padding:6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
}
.input2{
    padding:6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    margin-left: 10px;
}
.input3{
    padding:6px;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    margin-left: 10px;
    width:70px;
}
@media screen and (max-width:600px) {
    .wish{
        height:100vh;
        width: 100%;
        /* background-color:rgb(228,236,255); */
        /* background-color: red; */
        position: fixed;
        top: 0;
        overflow: scroll;
    }
    .paymentInfo{
        padding: 25px;
      
    }
    .ram{
        padding:10px;

    }
    .ramu{
        padding:10px;      
    }
    
    .billForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .input1{
        padding:10px;
    }
    .input2{
        padding:10px;
        width:80px;
    }
    .input3{
        padding:10px;
        outline: none;
        border-radius: 3px;
        border: 1px solid black;
        margin-left: 10px;
        width:100px;
    }
}